nav {
    display: grid;
    grid-template-columns: 60px 1fr 1fr 1fr;
}

input {
    color: black;
    height: 25px;
    width: 250px;
    float: right;
    grid-column: 4;
}


.form {
    height: 100%;
    width: 250px;
    grid-column: 4 / 5;
    display: inline-block;
}

.submit {
    display: inline-block;
    height: 100%;
    background-color: white;
    color: black;
    grid-column: 5;
    font-size: larger;
    font-weight: bolder;

}

.home {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

@media (max-width:425px) {

nav {
    display: grid;
width: 200%;
    grid-template-columns: 1fr 2fr 1fr;
}

input {
    color: black;
    height: 2em;
    width: 2em;
    float: right;
    grid-column: 2;
}


.form {
    height: 100%;
    width: 2em;
    grid-column: 2 / 3;
    display: inline-block;
}

.submit {
    display: inline-block;
    height: 100%;
    background-color: white;
    color: black;
    grid-column: 5;
    font-size: larger;
    font-weight: bolder;

}

.home {
    height: 5em;
    width: 5em;
    border-radius: 50%;
}

}
