nav{
    display: grid;
    grid-template-columns: 60px 3fr ;
}
input{
    color: black;
    height: 25px;
    width: 250px;
    float: right;
}
.form{
    height: 25px;
    width: 250px;
    float: right;
    grid-column: 2;
}
.submit{
    background-color: white;
    color: black;
    /* height: 25px;
    width: 70px; */
    float: right;
}
.home{
    height: 60px;
    width: 60px;
}